.explore-items {
background: gray;	
}
	


	.item-focus {
		position: fixed;
		top: 30%; bottom: 30%; left: 10%; right: 10%;;
		
		&.hidden { display: none; }
        
        .item{
            margin: 0;
            min-height: 350px;
            z-index: 2;
            position: fixed;
        }
        .sentiments{
            background-color: #FFFFFF;
            z-index: 1;
            margin-top: 5%;
            min-height: 280px;
            padding-left: 265px;
            padding-top: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
        }  
	}

 /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 992px) {
        .item-focus {
            top: 30%; bottom: 30%; left: 5%; right: 5%;;

        }
        .sentiments{
            padding-left: 265px;
        }  
    }
