.profile{
	background: #Eee;
	padding-top: 20px;
	
	h1 {
		color: white; text-align: center; 
	}
	
    .items{
         margin: 0 auto;
        
        .item{
           // margin:0;
            float: left;
        }
    }
    .items:after {
      display: block;
      clear: both;
    }
	
	&:after {
		content: " ";
		clear: both;
		display: block;
	}
}

.grid-sizer{
    width: 1000px;
}
