aside {
    position: fixed;
    bottom: 0;
    left: 0;
	right: 0;
    height: 40px;
	z-index: 100;
    background-color: #000000;
	
    ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        
        li {
            font-size: inherit;
            a {
                display:block;
              
                padding: 10px 25px;
                color: #FFFFFF;  
                width:auto;
                background-color:#000000;
            }
            a:hover {
    
                color: #000000;
                background-color:#FFFFFF;
            }
            .btn {
                font-family: $font-family-btn;
            }
        }
    }
	
    .right li a {
        float:right;   
    }
	
    .left li a {
        float:left;   
    }
}
