

// Body
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			 -ms-font-smoothing: antialiased;
					 font-smoothing: antialiased;
}

body {
	color: floralwhite;
	background: #000000;
	font-size: 12px;

	.user-greeting { display: none; }
	
	&.signed-in .sign-in,
	&.signed-in .sign-up { display: none; }
	&.signed-in .user-greeting { display: block; }
	
	.explore-words { display: none; }
	&.displaying-explore-words .explore-words { display: block; }
	
	.explore-words {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		
		h1 { position: fixed; top: 50px; left: 50px; }
		
		.translatable { // todo width ?
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			bottom: 0;

				.words { 
				list-style-type: none;

					.word {
						position: absolute;
						font-size: 275px;
						cursor: url("icon-glass.png") 25 25, auto;/*
						transform: rotateX(20deg);*/
						transition: 1s all;
					}
				}
		}
		
	}
	
	.explore-items { display: none; }
	&.displaying-explore-items .explore-items { display: block; }
	
}

