

// Body
html, body {
	width: 100%;

	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
			-moz-font-smoothing: antialiased;
			 -ms-font-smoothing: antialiased;
					 font-smoothing: antialiased;
}

body {
	color: floralwhite;
	background: #000000;
	font-size: 12px;
}


body {
	.user-greeting { display: none; }
	
	&.signed-in .sign-in { display: none; }
	&.signed-in .user-greeting { display: block; }
}

