aside {
    position: fixed;
    bottom: 0;
    left: 0;
	right: 0;
    height: 38px;
	z-index: 100;
    background-color: #000000;
    
    ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        
        li {
            font-size: inherit;
            span {   
                color: #FFFFFF;  
                width:auto;
                background-color:#000000;
            }
            a {   
                display:block;
                padding: 10px 25px;
                color: #FFFFFF;  
                width:auto;
                line-height: 1.2em;
                background-color:#000000;
            }
            a:hover {
    
                color: #000000;
                background-color:#FFFFFF;
            }
            .btn {
                font-family: $font-family-btn;
                span{
                    display: inline-block;
                }
            }
        }
    }
	
    .right li a {
        float:right;   
    }
	
    .left li a {
        float:left;   
        
    }
}

.subnav{
    position: fixed;
    bottom: 0;
    left: 0;
	right: 0;
    height: 100px;
    z-index:99;
    background-color: #FFFFFF;
    
    .form-bot-bar{
        margin-top: 15px;
        input{
            border-radius: 3px;
            padding: 7px;
            border: 1px solid #9b9b9b;
        }
        .button{
            display: inline-block;
            color: #000000;
            font-family: $font-family-btn;
            font-size: 14px;
            text-transform: uppercase;
            background: none;
            border: 1px solid #000000;
            border-radius: 29px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .button:hover{
            opacity: 0.5;
        }
    }
    
    ul {
        margin-top: 10px;
        display: inline-block;
        li {
            display: inline-block;
            span {   
                color: #000000;  
                width:auto;
                background-color:#FFFFFF;
            }
            a {   
                display:block;
                padding: 10px 25px;
                color: #000000;  
                width:auto;
                line-height: 1.2em;
                background-color:#FFFFFF;
            }
            a:hover {
    
                color: #000000;
                opacity: 0.5;
            }
            .btn {
                font-family: $font-family-btn;
                span{
                    display: inline-block;
                }
            }
        }
    }
    .left{float: left}
    .center{margin:0 auto;width:300px;}
    .right{float: right;}
	
}
