aside {
    position: fixed;
    left: 0;
	right: 0;
	z-index: 100;
    background-color: #000000;
    
    ul {
        list-style-type:none;
        margin: 0;
        padding: 0;
        
        li {
			float: right;
            font-size: inherit;
            
            span {   
                color: #FFFFFF;  
                width:auto;
                background-color: transparent;
            }
            a {   
                display:block;
                padding: 10px 25px;
                color: #FFFFFF;  
                width:auto;
                line-height: 1.2em;
                background-color:#000000;
				transition: 0.3s all;
                
				&:hover {
					color: #000000;
					background-color:#FFFFFF;
					transition: none;
					
					span {
						color: black;
					}
            	}
            }
            
            .btn {
                font-family: $font-family-btn;
                
                span{
                    display: inline-block;
					vertical-align: -2px;
                }
				&:hover span { color: black; }
            }
        }
    }
	
    .right li a {
        float:right;   
    }
	
    .left li a {
        float:left;   
        
    }
}
.navbar{
	bottom: 0;
    
	.left{float: left}
    .right{float: right;}
}

.subnav{
    bottom: 0;
	z-index: 90;
    position: fixed;
    left: 0;
	right: 0;
    background-color: #FFFFFF;
	transition: opacity 0.2s, bottom 0.3s;
	bottom: 20px;
	opacity: 0;
	pointer-events: none;
	vertical-align: bottom;
	padding: 8px 23px;
	
	&.active {
		pointer-events: auto;
		bottom: 38px;
		opacity: 1;
	}
	
	form.sign-in > *, form.sign-up > *, .sign-in-off, .sign-up-off {
		font-size: 12px;
		padding: 7px;
		line-height: 1.5;
	}
	
	input{
		border-radius: 3px;
		padding: 7px;
		border: 1px solid #9b9b9b;
		display: inline-block;
		margin-right: 5px;
	}
    
	.button{
		display: inline-block;
		font-family: $font-family-sans-serif;
		text-transform: uppercase;
		border: 1px solid #80a8a8;
        cursor: pointer;
		background: #80a8a8;
        color: #FFFFFF;
	}
	.button:hover{
		color: #80a8a8;
		background: none;
	}
    .left{
        float: left
    }
    .right{
        float: right; 
        color: rgba(0, 0, 0, 0.4);
        font-family: $font-family-sans-serif;
    }
}

.sign-in{
    float: left;
}

.sign-up{
    float: left;
}